Package: com.beeper.brooklyn
Name: Brooklyn
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bridge for Beeper that interfaces with iMessage directly.
Maintainer: Beeper
Author: Beeper
Section: Messaging
Depends: mobilesubstrate (>= 0.9.6300)
