<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Brooklyn</string>
	<key>CFBundleExecutable</key>
	<string>Brooklyn</string>
	<key>CFBundleIconName</key>
	<string>BeeperAppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>BeeperAppIcon20x20</string>
				<string>BeeperAppIcon29x29</string>
				<string>BeeperAppIcon40x40</string>
				<string>BeeperAppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>BeeperAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>BeeperAppIcon20x20</string>
				<string>BeeperAppIcon29x29</string>
				<string>BeeperAppIcon40x40</string>
				<string>BeeperAppIcon60x60</string>
				<string>BeeperAppIcon76x76</string>
				<string>BeeperAppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>BeeperAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.beeper.brooklyn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Scan your QR code to download your config file.</string>
	<key>NSContactsUsageDescription</key>
	<string>Brooklyn uses contacts directly from the Messages app to show their details in Beeper.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>continuous</string>
		<string>unboundedTaskCompletion</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
